zstyle ':antidote:bundle' use-friendly-names 'yes'
{{ if eq .chezmoi.osRelease.id "manjaro"}}
source '/usr/share/zsh-antidote/antidote.zsh'
{{ else }}
source ~/.antidote/antidote.zsh
{{ end }}
antidote load $HOME/.zsh/plugins.txt