zstyle ':antidote:bundle' use-friendly-names 'yes'
{{ if eq .chezmoi.os "darwin" }}
{{ else if eq .chezmoi.osRelease.idLike "arch"}}
source '/usr/share/zsh-antidote/antidote.zsh'
{{ else }}
source ~/.antidote/antidote.zsh
{{ end }}
antidote load $HOME/.zsh/plugins.txt