#!/bin/bash

{{ if eq .tailscale true }}
if ! command -v tailscale &>/dev/null; then
  echo "tailscale not found, installing..."
  curl -fsSL https://tailscale.com/install.sh | sh
  sudo ln -sf /run/systemd/resolve/stub-resolv.conf /etc/resolv.conf
fi
{{ end }}
