#!/usr/bin/env zsh

set -uo pipefail

on-ERR() {
  local status=$?
  echo >&2 Error executing run_onchange_after_install-1-manjaro-packages.sh.tmpl
  exit ${status}
}

trap on-ERR ERR

if [[ "${CHEZMOI_VERBOSE:-}" == 1 ]]; then
  if "${DEBUG_SCRIPTS:-false}"; then
    set -x
  fi
fi

{{ if eq .chezmoi.osRelease.id "manjaro" }}
# Brewfile: {{ include (joinPath .chezmoi.workingTree "setup/manjaro/pkglist.txt") | sha256sum }}
yay -S --needed --noconfirm --quiet - <"{{ .chezmoi.workingTree }}/setup/manjaro/pkglist.txt"

{{ else if eq .chezmoi.osRelease.id "archarm" }}
# Brewfile: {{ include (joinPath .chezmoi.workingTree "setup/archarm/pkglist.txt") | sha256sum }}
yay -S --needed --noconfirm --quiet - <"{{ .chezmoi.workingTree }}/setup/archarm/pkglist.txt"


{{ else if eq .chezmoi.osRelease.id "ubuntu" }}
## apt
sudo apt update -q -o=Dpkg::Use-Pty=0
sudo apt upgrade -y -q -o=Dpkg::Use-Pty=0
## Brewfile: {{ include (joinPath .chezmoi.workingTree "setup/ubuntu/pkglist.list") | sha256sum }}
xargs sudo apt install -y -q -o=Dpkg::Use-Pty=0 < "{{ .chezmoi.workingTree }}/setup/ubuntu/pkglist.list"

{{ else if eq .chezmoi.osRelease.id "debian" }}  
## apt
sudo apt update -q -o=Dpkg::Use-Pty=0
sudo apt upgrade -y -q -o=Dpkg::Use-Pty=0
## Brewfile: {{ include (joinPath .chezmoi.workingTree "setup/debain/pkglist.list") | sha256sum }}
xargs sudo apt install -y -q -o=Dpkg::Use-Pty=0 < "{{ .chezmoi.workingTree }}/setup/debain/pkglist.list"
{{end}}


