#!/usr/bin/env bash

set -uo pipefail

on-ERR() {
  local status=$?
  echo >&2 Error executing run_once_before_0-prepare-system.sh
  exit ${status}
}

trap on-ERR ERR

if [[ "${CHEZMOI_VERBOSE:-}" == 1 ]]; then
  echo 0: prepare system

  if "${DEBUG_SCRIPTS:-false}"; then
    set -x
  fi
fi

{{ if eq .chezmoi.os "darwin" }}  
brew update
brew upgrade
xargs brew install < "{{ .chezmoi.workingTree }}/setup/darwin/pkglist.build.txt"

{{ else if eq .chezmoi.osRelease.id "manjaro" }}
sudo sed -i 's/^# ParallelDownloads = 5/ParallelDownloads = 5/' /etc/pacman.conf
sudo pacman-mirrors --geoip -s -q
sudo pacman -Syu --noconfirm
sudo pacman -S  --noconfirm --needed - < "{{ .chezmoi.workingTree }}/setup/manjaro/pkglist.build.txt"

{{ else if eq .chezmoi.osRelease.id "ubuntu" }}
sudo cp "{{ .chezmoi.workingTree }}/setup/ubuntu/sources.list" /etc/apt/sources.list
sudo apt update -q -o=Dpkg::Use-Pty=0
sudo apt upgrade -y -q -o=Dpkg::Use-Pty=0
xargs sudo apt install -y -q -o=Dpkg::Use-Pty=0 < "{{ .chezmoi.workingTree }}/setup/ubuntu/pkglist.build.txt"

{{ else if eq .chezmoi.osRelease.id "debian" }}  
sudo apt update -q -o=Dpkg::Use-Pty=0
sudo apt upgrade -y -q -o=Dpkg::Use-Pty=0
xargs sudo apt install -y -q -o=Dpkg::Use-Pty=0 < "{{ .chezmoi.workingTree }}/setup/debain/pkglist.build.txt"

{{ end }}
chsh -s "$(which zsh)"
