#!/usr/bin/env zsh

set -uo pipefail

on-ERR() {
  local status=$?
  echo >&2 Error executing run_onchange_after_install-2-asdf-plugins.sh.tmpl
  exit ${status}
}

trap on-ERR ERR

if [[ "${CHEZMOI_VERBOSE:-}" == 1 ]]; then
  echo 1: Install Asdf Plugins

  if "${DEBUG_SCRIPTS:-false}"; then
    set -x
  fi
fi

{{ if not ( eq .chezmoi.osRelease.id "manjaro" )}}
asdf update
{{ end }}
asdf plugin update --all

asdf plugin add nodejs
asdf install nodejs 18.16.0
asdf install nodejs 16.16.0

asdf plugin add pnpm
asdf install pnpm 8.15.4