#!/usr/bin/env zsh

set -uo pipefail

on-ERR() {
  local status=$?
  echo >&2 Error executing run_onchange_after_install-2-asdf-plugins.sh.tmpl
  exit ${status}
}

trap on-ERR ERR

if [[ "${CHEZMOI_VERBOSE:-}" == 1 ]]; then
  echo 1: Install Asdf Plugins

  if "${DEBUG_SCRIPTS:-false}"; then
    set -x
  fi
fi

source ~/.zshrc

asdf plugin update --all

if ! asdf plugin list | grep -qx nodejs; then
  asdf plugin add nodejs
fi
asdf install nodejs 22.22.0

if ! asdf plugin list | grep -qx pnpm; then
  asdf plugin add pnpm
fi
asdf install pnpm 10.12.4

if ! asdf plugin list | grep -qx python; then
  asdf plugin add python
fi
asdf install python 3.12.5
